---
layout: home
heading: Home Page
navPage: homePage
---
<section id="about-me">
    <div class='full light-yellow'>
        <div class='row'>
            <div class='special-title centered-text'>
                <i class='icon-users'></i>
                <h2>Who we are</h2>
                <p>We are happy to know you are happy</p>
                <p class='shortline'></p>
            </div>
            <div class='spacing'></div>
            <div class='spacing'></div>
        </div>
        <div class='row'>
            <div class='medium-6 large-6 columns'>
                <p>
                    <span class='drop-letters'>We</span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, sint. Deserunt odio veritatis,
                    iusto vel amet sed accusantium incidunt earum dicta quo magnam dignissimos nesciunt, fugit iure
                    saepe nam officia?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus unde ab quod atque hic modi
                    incidunt cumque, doloribus enim qui distinctio dolorem eum quae rem, nam tempora magni a labore.</p>
            </div>
            <div class='medium-6 large-6 columns'>
                <ul class='bars'>

                    <li>
                        <h4>
                            Web design
                            <strong>84%</strong>
                        </h4>
                        <p class='highlighted' data-percent='84'></p>
                    </li>

                    <li>
                        <h4>
                            Web development
                            <strong>95%</strong>
                        </h4>
                        <p class='highlighted' data-percent='95'></p>
                    </li>

                    <li>
                        <h4>
                            Site management
                            <strong>70%</strong>
                        </h4>
                        <p class='highlighted' data-percent='70'></p>
                    </li>

                    <li>
                        <h4>
                            Branding
                            <strong>61%</strong>
                        </h4>
                        <p class='highlighted' data-percent='61'></p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
{% include home/why_choose.html%}
{% include home/portfolio.html%}

<div class='full dark-blue no-padding'>
    <div class='two spacing'></div>
    <div class='row'>
        <div class='call-to-action light'>
            <div class='medium-9 large-9 columns'>
                <p class='left'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eligendi,
                    sapiente</p>
            </div>
            <div class='medium-3 large-3 columns'>
                <a class='button' href="#">Hire Me</a>
            </div>
        </div>
    </div>
    <div class='two spacing'></div>
</div>

<section id="services">
    <div class='full white'>
        <div class='row'>
            <div class='special-title centered-text'>
                <i class='icon-map'></i>
                <h2>Our services</h2>
                <p>We are passionate about web design &amp; development</p>
                <p class='shortline'></p>
            </div>
            <div class='two spacing'></div>
        </div>


        <div class="row">

            <div class='medium-4 large-4 columns icon-text'>
                <i class='icon-layout '></i>
                <h3>Web design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius reprehenderit soluta, exercitationem
                    molestias a in et. Voluptatem, molestias, error. Maiores vero quod ad voluptate quibusdam illo
                    reiciendis impedit, minus quo.</p>
            </div>

            <div class='medium-4 large-4 columns icon-text'>
                <i class='icon-layout '></i>
                <h3>Web design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, iste accusantium suscipit saepe
                    similique eveniet aspernatur, neque adipisci iure quasi tenetur corporis. Voluptates quisquam
                    reprehenderit aliquam sit sapiente, optio quod.</p>
            </div>

            <div class='medium-4 large-4 columns icon-text'>
                <i class='icon-layout '></i>
                <h3>Web design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit unde excepturi ex doloremque, numquam
                    aspernatur maxime rerum praesentium eius. Molestiae fuga perferendis, expedita veniam incidunt quasi
                    dolorum accusantium aperiam accusamus.</p>
            </div>

        </div>

        <div class="spacing"></div>


        <div class="row">

            <div class='medium-4 large-4 columns icon-text'>
                <i class='icon-layout yellow'></i>
                <h3>Web design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor aspernatur, error blanditiis
                    impedit provident odio explicabo qui, repudiandae, reprehenderit non nobis ipsum dicta, a molestiae
                    ullam soluta corrupti ipsa.</p>
            </div>

            <div class='medium-4 large-4 columns icon-text'>
                <i class='icon-layout yellow'></i>
                <h3>Web design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reprehenderit expedita debitis
                    similique vero asperiores, aliquam autem! Consequatur enim porro nobis quia iure sequi accusamus
                    debitis, fugit commodi quisquam doloremque!</p>
            </div>

            <div class='medium-4 large-4 columns icon-text'>
                <i class='icon-layout yellow'></i>
                <h3>Web design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis amet officia est quam
                    eveniet, libero quod nam, saepe sunt eaque voluptatem accusamus inventore ipsum nesciunt iusto
                    laudantium provident ullam!</p>
            </div>

        </div>
    </div>
    <div class='full bg-1'>
        <div class='row'>

            <div class='medium-3 large-3 columns'>
                <div class='milestone boxed light'>
                    <strong data-from='0' data-to='69'></strong>
                    <span>Projects completed</span>
                </div>
            </div>

            <div class='medium-3 large-3 columns'>
                <div class='milestone boxed light'>
                    <strong data-from='0' data-to='726'></strong>
                    <span>Cups of coffee offered</span>
                </div>
            </div>

            <div class='medium-3 large-3 columns'>
                <div class='milestone boxed light'>
                    <strong data-from='0' data-to='59'></strong>
                    <span>Happy clients</span>
                </div>
            </div>

            <div class='medium-3 large-3 columns'>
                <div class='milestone boxed light'>
                    <strong data-from='0' data-to='121'></strong>
                    <span>Articles published</span>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="testimonials">
    <div class='testimonials full light centered-text bg-2' id="testimonials">
        <div class='row'>
            <div class='special-title'>
                <i class='icon-quote'></i>
                <h2 class='light'>What our clients say</h2>
            </div>
            <div class='two spacing'></div>
        </div>
        <div class='row'>
            <div class='small-9 small-centered columns'>
                <ul data-orbit=''>

                    <li>
                        <p class='quote'>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perspiciatis
                            beatae temporibus blanditiis fugit, impedit eum quidem suscipit non aperiam, officia!
                            Adipisci tempora dignissimos sed quidem rem, blanditiis voluptatem eaque!"</p>
                        <p class='author'>- David White, Designer at Huglab</p>
                        <div class='two spacing'></div>
                    </li>

                    <li>
                        <p class='quote'>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum est
                            perferendis ea architecto, excepturi maxime nihil libero minus amet, facilis, velit magni
                            adipisci. Quasi, modi nostrum commodi amet tempore earum."</p>
                        <p class='author'>- David White, Designer at Huglab</p>
                        <div class='two spacing'></div>
                    </li>

                    <li>
                        <p class='quote'>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ab minus
                            facere distinctio incidunt iure, id, earum dolores eaque, nesciunt amet ipsum vel
                            reprehenderit dignissimos quas nulla molestiae. Quibusdam, nisi?"</p>
                        <p class='author'>- David White, Designer at Huglab</p>
                        <div class='two spacing'></div>
                    </li>

                </ul>
            </div>
            <div class='spacing'></div>
        </div>
    </div>
</section>


<section id="clients">
    <div class='full light-grey no-padding'>
        <div class='spacing'></div>
        <div class='row'>
            {% assign image_files = site.static_files | where: "client_img", true %}
            {% for myimage in image_files %}
            <div class='small-6 large-2 columns'>
                <img src="{{ myimage.path | relative_url }}">
            </div>
            {% endfor %}
            {% assign myimage = nil %}
        </div>
        <div class='spacing'></div>
    </div>
</section>
{% include home/contract.html %}