<ul data-orbit=''>
      {% for imgWithAttr in site.data.image_slider %}
    <li>
      {% if imgWithAttr.name and imgWithAttr.align %}
      <img src="{{ 'assets/images/slider_img/' | append: imgWithAttr.name | relative_url }}" />
      <div class='orbit-caption caption-{{ imgWithAttr.align }}'>
        <div class='row'>
          <div class='large-12 columns right'>
            {% if imgWithAttr.title %}
            <h2>{{ imgWithAttr.title }}</h2> 
            {% endif %}
            {% if imgWithAttr.sub-title %}
             <p>{{ imgWithAttr.sub-title }}</p> 
            {% endif %}
            <div class='two spacing'></div>
            {% if imgWithAttr.btn %}
             <a {% if imgWithAttr.href %}
             href="{{ imgWithAttr.href }}" 
             {% else %}
             href="#" 
             {% endif %} class='button boxed'>{{ imgWithAttr.btn }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </li>
    {% endfor %}
</ul>