
<div class="medium-3 columns">
    <div itemscope="" itemtype="http://schema.org/Person">
        <div class="author__avatar">
            <a href="{{ '/' | absolute_url }}" class="thumbnail">
                <img src="{{ 'assets/images/FR_LinkedInFace2.png' | relative_url }}" alt="{{ site.name }}"  itemprop="image">
            </a>
        </div>
        <div class="author__content">
            <h3 class="author__name" itemprop="name">Michael Rose</h3>
            <p class="author__bio" itemprop="description">
                Just another boring, tattooed, time traveling, designer.
            </p>
        </div>

        <div class="author__urls-wrapper">
            <h4 class="btn--inverse">Follow</h4>
            <ul class="author__urls social-icons">

                <li itemprop="homeLocation" itemscope="" itemtype="http://schema.org/Place">
                    <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">Buffalo, NY</span>
                </li>
                <li>
                    <a href="http://feliperego.com/" itemprop="url">
                        <i class="fa fa-fw fa-website" aria-hidden="true"></i> {{ author.name }}
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/feliperego" itemprop="sameAs">
                        <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com/feliperego" itemprop="sameAs">
                        <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/feliperego" itemprop="sameAs">
                        <i class="fa fa-fw fa-instagram" aria-hidden="true"></i> Instagram
                    </a>
                </li>


                <li>
                    <a href="https://github.com/feliperego" itemprop="sameAs">
                        <i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>