@import '../foundation/components/global';

$my_f_green: #37a000;

$color-fiord: #3d5766;
$color-varden: #fef6df;
$color-mercury: #e8e8e4;

$color-picton-blue: #4caaf2;
$color-wild-san:  whitesmoke;



$color_tuatara_approx: #363636;
$color_tuatara_60_approx: rgba(54, 54, 54, 0.6);
$white_40: rgba(255, 255, 255, 0.4);


$color_log_cabin_approx: #232323;
$black_50: rgba(0, 0, 0, 0.5);




$color_pink_swan_approx: #bbbbbb;
